<nav id="nav-main" class="navbar navbar-expand-lg navbar-dark bg-dark main-header">
  <div class="container-fluid">
    <div class="navbar-header mr-auto">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label=""><span class="navbar-toggler-icon"></span></button>
      <span class="navbar-brand h1">Ad stats</span>
    </div>
    <div class="collapse navbar-collapse" id="main-menu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mr-lg-1 my-1 btn btn-sm"><a class="nav-link" href="index">Статистика</a></li>
      <li class="nav-item mr-lg-1 my-1 btn btn-sm"><a class="nav-link" href="months">По месяцам</a></li>
      <li class="nav-item mr-lg-1 my-1 btn btn-sm"><a class="nav-link" href="all">Весь период</a></li>
    </ul>
    </div>

    <div class="navbar-header ml-auto">
      <ul class="nav navbar-nav row">
        <li class="nav-item mr-2">
          <a class="btn btn-outline-secondary my-1" href="fetch">
            <i class="fa fa-download fa-lg"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-secondary my-1" href="config">
            <i class="fa fa-cogs fa-lg"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
