<div class="col-12 col-md-3 sidebar-offcanvas mx-0" id="side-panel">
  <header class="row">
    <form class="form-inline mx-3 my-1 w-100">
      <label class="sr-only" for="search-text">Название</label>
      <div class="input-group mb-2 w-100">
        <div class="input-group-addon col-1 col-md-3 col-lg-2 justify-content-center" id="stat-member-clear-filter"><i class="fa fa-filter fa-lg"></i></div>
        <input type="text" class="form-control mx-auto col-11 col-md-9 col-lg-10" id="stat-member-filter" placeholder="Площадка">
      </div>
    </form>
  </header>
  {% if urls is not none %}
  <ul class="nav nav-stacked flex-column" id="list-members">
    {% for url in urls %}
    <li class="nav-item btn btn-sm btn-light stat-member mb-1" data-name="{{ url.table }}">{{ url.name }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
