{% extends '_base_config.html' %}
{% block title %}Настройки - Ad stats{% endblock %}
{% block page %}config{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <form class="my-3" method="post" enctype="multipart/form-data" id="form-upload">
    <div class="row justify-content-center my-3">
      <span class='label label-info mr-3 my-3' id="upload-file-name">Файл не выбран</span>
      <label class="btn btn-dark my-2" for="upload-xlsx">
        Выберите файл<input type="file" name="file" id="upload-xlsx" style="display:none">
      </label>
    </div>
    <div class="row justify-content-center my-3">
      <button class="btn btn-dark my-2" id="form-upload-submit">Загрузить</button>
    </div>
  </form>
</div>
{% endblock %}
