{% extends "_base.html" %} {% block title %}Index - Ad statistics{% endblock %} {% block content %}
<div class="row">
	<ul class="col-3 list-group">
		<li class="list-group-item">1</li>
		<li class="list-group-item">2</li>
		<li class="list-group-item">3</li>
		<li class="list-group-item">4</li>
		<li class="list-group-item">5</li>
		<li class="list-group-item">6</li>
		<li class="list-group-item">7</li>
		<li class="list-group-item">8</li>
		<li class="list-group-item">9</li>
		<li class="list-group-item">10</li>
	</ul>
	<div class="col">
		<h1>Index page</h1>
		<p>This is a test message</p>
	</div>
</div>
{% endblock %}
